<div class="landing-page-container">
  <div class="applications-header">
    <h1>TOOLS</h1>
  </div>

  <div class="applications-grid">
    <div class="app-tile" routerLink="/data-tools">
      <div class="expand-icon">
        <i class="fas fa-external-link-alt"></i>
      </div>
      <div class="app-title">
        <h2>Data Generation and Manipulation</h2>
      </div>
    </div>

    <div class="app-tile" routerLink="/file-formats">
      <div class="expand-icon">
        <i class="fas fa-external-link-alt"></i>
      </div>
      <div class="app-title">
        <h2>File Difference</h2>
      </div>
    </div>
    
<div class="app-tile" routerLink="/gpt">
      <div class="expand-icon">
        <i class="fas fa-external-link-alt"></i>
      </div>
      <div class="app-title">
        <h2>GPT</h2>
      </div>
    </div>
  </div>
</div>
