<div class="landing-page-container">
  <div class="applications-header">
    <h1>TOOLS</h1>
  </div>

  <div class="applications-grid">
    <div class="app-tile" routerLink="/date-converter">
      <div class="expand-icon">
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="app-title">
        <h2>Date Converter</h2>
      </div>
    </div>

    <div class="app-tile" routerLink="/test-data-generator">
      <div class="expand-icon">
        <i class="fas fa-database"></i>
      </div>
      <div class="app-title">
        <h2>Test Data Generator</h2>
      </div>
    </div>

    <div class="app-tile" routerLink="/file-difference/xml">
      <div class="expand-icon">
        <i class="fas fa-file-code"></i>
      </div>
      <div class="app-title">
        <h2>XML</h2>
      </div>
    </div>

    <div class="app-tile" routerLink="/file-difference/csv">
      <div class="expand-icon">
        <i class="fas fa-file-csv"></i>
      </div>
      <div class="app-title">
        <h2>CSV</h2>
      </div>
    </div>

    <div class="app-tile" routerLink="/file-difference/xlsx">
      <div class="expand-icon">
        <i class="fas fa-file-excel"></i>
      </div>
      <div class="app-title">
        <h2>XLSX</h2>
      </div>
    </div>
    
<div class="app-tile" routerLink="/gpt">
      <div class="expand-icon">
        <i class="fas fa-external-link-alt"></i>
      </div>
      <div class="app-title">
        <h2>GPT</h2>
      </div>
    </div>
  </div>
</div>
