<div class="file-difference-container">

  <div class="error-message" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>

  <div class="loading-indicator" *ngIf="isLoading">
    <div class="spinner"></div>
    <p>Processing files, please wait...</p>
  </div>

  <app-file-upload 
    *ngIf="!comparisonData" 
    [selectedFileType]="selectedFileType"
    (comparisonResults)="handleComparisonResults($event)"
    (loading)="handleLoading($event)"
    (error)="handleError($event)">
  </app-file-upload>

  <app-comparison-results 
    *ngIf="comparisonData" 
    [comparisonData]="comparisonData"
    (resetView)="resetView()">
  </app-comparison-results>
</div>
